{
    "name": "00 Policy for {{ cve }}",
    "description": "Policy created by Ansible Automation Platform",
    "rationale": "{{ rationale }}",
    "remediation": "{{ remediation }}",
    "disabled": {{ policy_disabled }},
    "categories": {{ categories }},
    "fields": null,
    "lifecycleStages": [
        "BUILD",
        "DEPLOY"
    ],
    "eventSource": "NOT_APPLICABLE",
    "whitelists": [],
    "exclusions": [],
    "scope": [],
    "severity": "CRITICAL_SEVERITY",
    "enforcementActions": [
        "FAIL_BUILD_ENFORCEMENT",
        "SCALE_TO_ZERO_ENFORCEMENT",
        "UNSATISFIABLE_NODE_CONSTRAINT_ENFORCEMENT"
    ],
    "notifiers": [],
    "SORTName": "Policy for {{ cve }}",
    "SORTLifecycleStage": "BUILD",
    "SORTEnforcement": true,
    "policyVersion": "1.1",
    "policySections": [
        {
            "sectionName": "Policy Section 1",
            "policyGroups": [
                {
                    "fieldName": "CVE",
                    "booleanOperator": "OR",
                    "negate": false,
                    "values": [
                        {
                            "value": "{{ cve }}"
                        }
                    ]
                }
            ]
        }
    ],
    "mitreAttackVectors": [],
    "criteriaLocked": false,
    "mitreVectorsLocked": false,
    "isDefault": false
}